<% provide(:title, "Sign up") %>
<% provide(:button, "Create my account") %>
<h1>Sign up</h1>

<div class="row justify-content-lg-center">
  <div class="col-6">
  <%= render 'shared/form' %>
  </div>
</div>
