<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
  <%= link_to "sample app", root_path, class: "navbar-brand mb-0 h1" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", static_pages_help_path %></li>
        <li><%= link_to "Log in", login_url %></li>
          </ul>
        </nav>
      </div>
    </header>